{% extends "myapp/base.html" %} {% block body %}
<div class="flex justify-between">
  <div class="ml-20 mt-10 font-bold text-xl">My Products</div>
  <div class="mr-20 mt-10">
    <a
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      href=" {% url 'createproduct' %}"
      >Create New Products
    </a>
  </div>
</div>

<div class="max-w-7xl mx-auto p-6 space-y-6 mt-10">
  {% for product in products %}
  <div class="bg-white shadow-lg rounded-2xl p-6 flex items-center space-x-6">
    <div class="flex w-1/2 space-x-4">
        <img
        class="w-24 h-24 rounded-lg object-cover"
        src="https://stores.lifestylestores.com/VendorpageTheme/Enterprise/EThemeForLifestyleUpdated/images/product-not-found.jpg"
        alt="reload"
      />
      <div class="space-y-2 relative group">
        <a href=" {% url 'editproduct' product.id %}">
        <div class="font-bold text-sm opacity-0 group-hover:opacity-100 duration-300 absolute top-0 left-0 inset-x-0 bottom-0 p-4 justify-center items-end bg-white font-semibold">Edit Product</div>
        <div class="space-y-2  text-gray-600 ml-5">
          <div class="font-bold">{{ product.name }}</div>
          <div>{{ product.description }}</div>
          <div class="font-bold text-sm text-green-600">${{ product.price }}</div>
        </div>
    </a>
      </div>
      
    </div>

    <div class="ml-auto flex flex-col justify-center space-y-4">
      <div class="text-2xl text-green-700">${{product.total_sales_amount}}</div>
      <div class="text-sm ">Total Earnings</div>
    </div>
    <div class="ml-auto flex flex-col justify-center space-y-4">
      <div class="text-2xl text-blue-700">{{product.total_order}}</div>
      <div class="text-sm">Total Order</div>
    </div>
    <div class="ml-auto flex flex-col justify-center space-y-4">
      <div class="text-2xl text-gray-500">4.3</div>
      <div class="text-sm ">Ratings</div>
    </div>
  </div>

  {% endfor %}
</div>

{% endblock %}
